#box{
    background-color: rgb(255, 0, 21);
    margin-left: 200px;
    width: 1000px;
    height: 500px;
}

#header{
   background-color: lightsteelblue ;
   padding-left: 250px;
   font-size: larger;
   color: cornsilk;
}
.temp{
   font-size: 35px;
}
#cel{
   width: 300px;
   height: 30px;
   margin-left: 40px;
}
#far{
   margin-left: 35px;
}
#button{
   padding: 10px;
   margin-left: 120px;
   background-color: darkgrey;
}
.body{
   display: flex;
   
}
#cels{
   margin-left: 75px;
}